{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} {%
load socialaccount %} {% load widget_tweaks %} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% block content %}

<div class="container-fluid p-0" style="">
  <div class="row my-5 mx-auto">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-4">
      <div class="border shadow p-3">
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
        {% else %}
         {% endif %}

        <h3>{% trans "Sign In" %}</h3>

        {% get_providers as socialaccount_providers %} {% if socialaccount_providers %}
        <p>
          {% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}
        </p>

        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or text-center">or</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}
         {% else %}
        <p>
          If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
        </p>
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="d-grid gap-2 col-10 mx-auto">
            <div class="mb-2">
              <label for="login" class="form-label">Email*</label>
              {%render_field form.login class="form-control" %}
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">Password*</label>
              {%render_field form.password class="form-control" %}
            </div>
          </div>
          {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <div class="d-grid gap-2 col-10 mx-auto">
            <button
              class="primaryAction btn btn-primary btn-block p-3"
              type="submit"
            >
              {% trans "Sign In" %}
            </button>
            <a
              class="button secondaryAction"
              href="{% url 'account_reset_password' %}"
              >{% trans "Forgot Password?" %}</a
            >
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
