{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid p-0">
  <div class="row my-5 mx-auto">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-4">
      <div class="border shadow p-3">
      <h4 class="mb-3">Sign up with email address</h4>

      <div class="d-grid gap-2 col-10 mx-auto">
      <a href="{% provider_login_url 'google' %}" class="btn btn-outline-danger p-3"> <i class="fab fa-google"></i> Sign up with Google</a>
       <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline-info p-3"> <i class="fab fa-facebook"></i> Sign up with Facebook</a>

      <div class="login-or text-center my-2">or</div>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="d-grid gap-2 col-10 mx-auto">
        <div class="mb-2">
          <label for="login" class="form-label">Email*</label>
          {%render_field form.email class="form-control form-control-lg" %}
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Confirm Email*</label>
          {%render_field form.email2 class="form-control form-control-lg" %}
        </div>


        <div class="mb-2">
          <label for="login" class="form-label">Password*</label>
          {%render_field form.password1 class="form-control form-control-lg" %}
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Confirm Password*</label>
          {%render_field form.password2 class="form-control form-control-lg" %}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success btn-block">Sign Up &raquo;</button>
      </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  </div>
</div>
</div>



{% endblock %}