{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid p-0">
  <div class="row my-5 mx-auto">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-4">
      <div class="border shadow p-3">
      <h4>Sign up with email address</h4>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="d-grid gap-2 col-10 mx-auto">
        <div class="mb-2">
          <label for="login" class="form-label">Email*</label>
          {%render_field form.email class="form-control" %}
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Confirm Email*</label>
          {%render_field form.email2 class="form-control" %}
        </div>


        <div class="mb-2">
          <label for="login" class="form-label">Password*</label>
          {%render_field form.password1 class="form-control" %}
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Confirm Password*</label>
          {%render_field form.password2 class="form-control" %}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success btn-block">Sign Up &raquo;</button>
      </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  </div>
</div>



{% endblock %}