{%extends 'donor/profile.html' %}
{%load static %}
{% load widget_tweaks %}
{%block partial%}
<div class="col-md-6 p-5">
    <div class="row ">
        <section class="p-4">
        <h1 class="text-lead">My Team</h1>
      
        <form action="{%url 'donor:create_team' %}" method="post">
            {%csrf_token%}
          
           <div class="mb-3">
            <label for="team_name" class="form-label">Team name</label>
            {% render_field form.team_name class="form-control mt-2" %}
            <div id="teamHelp" class="form-text">This name wil be seen by anybody who visit the website.</div>
          </div>

          <button type="submit" class="btn btn-info">Create</button>
        </form>


        <table class="table table-bordered border-primary my-5">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Team</th>
                    <th scope="col">Life Points</th>
                    <th scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for team in team_list%}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{team.team_name}}</td>
                    <td>{{team.get_team_points}}</td>
                    <td><a href="{%url 'donor:join_team' team_id=team.id %}">Join</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
</div>

{%endblock partial%}












