{%extends 'no_nav_base.html' %}
{%load static %} 
{% load widget_tweaks %} 
{% load crispy_forms_tags %} {%block style %}
{% load social_share %}
<style>
  
  #hero{
    min-height: 100vh;
    padding: 30px 0 60px;
    padding: 30px 0 var(--main-spacing, 60px);
  
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
    color:  #593196;
  }


  #badge {
    background-clip: text;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 800;
    
    background-image: linear-gradient(-45deg, #814efa, #593196, #341f52);
    background: linear-gradient(-45deg, #814efa, #593196, #341f52);
    -webkit-animation: gradient 5 ease infinite;
    -moz-animation: gradient 5 ease infinite;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
  }

  h1,
  h2,
  h3 {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 800;
  }

  @media (min-width: 998px) {
    #badge {
      margin-top: 110px;
      margin-bottom: 70px;
      font-size: 250px;
      line-height: 1;
    }
}

</style>
{%endblock %} {%block content%}
<div class="" id="hero">
<div class="d-flex justify-content-end text-white">
<a href="{%url 'donor:home' %}" class="text-primary me-3">TAKE ME HOME</a>
</div>




  <h1 style="text-align: center; text-transform: uppercase;" class="mb-3 mt-5">Share Your Decision</h1>
  <div class="mb-3" style="text-align: center; text-transform: uppercase;">
    <span id="badge" class=""> 
        <i class="fas fa-hand-holding-heart "  ></i>
    </span>
 </div>


    <h4 style="text-align: center;">TOGETHER, WE ARE POWERFUL</h4>
    <div class="container mt-4">
        <div class="d-flex justify-content-evenly">
            {% post_to_facebook object_or_url '<i class="fab fa-facebook-square"></i> Share' "btn fb btn rounded-2" %}
      
            {% post_to_twitter "I'm a donor!" object_or_url '<i class="fab fa-twitter-square"></i> Tweet!'  "btn btn-info rounded-2" %}
       
            {% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp-square"></i> Whatsapp!' "btn btn-success rounded-2" %}
        </div>
        
  
    </div>
    
</div>

{%endblock%} {%block script%}

<script type="text/javascript"></script>

{%endblock script %}
