{%extends 'base.html' %}
{%load static %}
{%block content%}


<section class="text-center text-sm-start pt-0 mt-0">

    <div class="row ">
        <div class="col-md-3 bg-primary ">

        </div>
        <div class="col-md-3 ps-5 bg-primary text-white" style="min-height: 1200px;">
            <div class="row mb-5">
                <h2>Profile</h2>
                <hr class="my-2">
                <a href="{%url 'donor:profile_stats' %}" class="text-white mb-2">Statistics</a>
                <a href="{%url 'donor:profile_team_stats' %}" class="text-white mb-2">Team Statistics</a> 
                <a href="" class="text-white mb-2">Leaderboard</a>
            </div>
            <div class="row mb-5">
                <h2>Quizes</h2>
                <hr class="my-2">
                {%for quiz in quiz_list%}
                <a href="" class="text-white mb-2">{{quiz.name}}</a>
                {%endfor%}
            </div>
            <div class="row">
                <hr class="my-4">
            </div>
        </div>
        {%block partial %}
        {%endblock partial %}
     
    </div>
</section>
{%endblock content %}