{%extends 'base.html' %}
{%load static %}
{% load account %}
{%block content%}
{% load socialaccount %}

<!--
<section class="text-center text-sm-start pt-0 mt-0" style="background-color: #814efa !important;">

    <div class="row d-sm-flex align-items-center justify-content-between">
        <div class="col-md-6 ps-5">
            <h1 class="text-light">Become <span class="text-warning"> ALTRU</span> Champion</h1>
            <p class="lead" style="color: #fff;">Big Victories are Possible with Your Voice</p>
            <p class="text-white">Registering to become an organ, eye and tissue donor records your decision to be a donor. Your generosity
                can save as many as eight lives through organ donation, bring sight to others with cornea donations and
                improve yet another 75 lives or more through tissue donation. It takes only moments, yet means a second
                chance of a lifetime</p>
            <a href="accounts/signup" class="btn btn-primary py-4">
                Join the Donor Register
            </a>
        </div>
        <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide d-none d-sm-block" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{%static 'img/green-heart.jpg' %}" class="img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{%static 'img/smile.jpg' %}" class="img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{%static 'img/dr.jpg' %}" class="img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
-->

<style>
    #hero {
        min-height: 50vh;
        padding: 30px 0 60px;
        padding: 30px 0 var(--main-spacing, 60px);
        background: linear-gradient(-45deg, #814efa, #593196, #341f52);
        background-size: 300% 300%;
        animation: gradient 5s ease infinite;
        color: #fff;
    }

    h1,
    h2,
    h3 {
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 800;
    }

    @media (min-width: 998px) {
        #hero h1 {
            margin-top: 110px;
            margin-bottom: 70px;
            font-size: 100px;
            line-height: 1;
        }
    }
</style>
<div class="" id="hero">

    <h1 style="text-align: center; text-transform: uppercase; ">Why is deceased organ donation important?</h1>
    <h4 style="text-align: center;" class="mb-4">Why should I register?</h4>
    <div class="container">

        <div class="row mx-3" style="text-align:center">
            <div class="col-md-4">
                <i class="far fa-clock display-4 mb-2"></i>
                <h3>10</h3>
                <p>Another person is added to the waiting list every 10 minutes</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-users display-4 mb-2"></i>
                <h3>20</h3>
                <p>people die each day because the organ they need is not donated in time</p>
            </div>
            <div class="col-md-4">

                <i class="fas fa-star-of-life display-4 mb-2"></i>
                <h3>75</h3>
                <p>One organ, eye and tissue donor can save and heal more than 75 lives</p>
            </div>
        </div>
    </div>

</div>
<section class="container my-5">
    <div class="row text-center">
        <div class="col py-5">
            <h1 class="mb-5">What is Deceased Organ Donation?</h1>
            <p class="lead">Deceased organ donation is the process of giving an organ or a part of an organ, at the time
                of the donor’s death, for transplantation to another person.</p>
            <a href="" class="btn btn-success btn-lg p-4">Learn more...</a>
        </div>
    </div>
</section>


<section class="bg-warning text-light py-5">
    <div class="container py-3">
        <div class="d-md-flex justify-content-between align-items-center">
            <h1 class="mb-3 mb-md-0">Test your knowledge on organ donation</h1>
            <a href="{%url 'quiz:quiz_list' %}" class="btn btn-outline-primary btn-lg btn-block">Take a quiz</a>
        </div>
    </div>
</section>
<section class="my-5 t">
    <div class="container">
        <h1 class="text-center text-primary mb-5">Frequently asked questions</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Who can be a donor?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Suitability criteria vary depending on the organ or tissue and its condition at the time of
                        death, but generally anyone who has given first-person authorization through the Donate Life
                        Registry, or whose next -of -kin has provided authorization, can be a donor.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Does my religion support organ, eye and tissue donation?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">All major religions support donation as a final act of compassion
                            and generosity. Visit this page for more in-depth information on religious views on organ,
                            eye and tissue donation.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Is there a cost to be an organ, eye and tissue donor?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">There is no cost to the donor’s family or estate for donation. The
                            donor family pays only for medical expenses before death and costs associated with funeral
                            arrangements.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Does registering as a donor change my patient care?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Your life always comes first. Doctors work hard to save every
                            patient’s life, but sometimes there is a complete and irreversible loss of brain function.
                            The patient is declared clinically and legally dead. Only then is donation an option.</div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Does donation affect funeral plans?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Funeral arrangements of your choice are possible, including a
                            viewing. Through the entire donation process the body is treated with care and respect.
                            Following donation, funeral arrangements can continue as planned</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Can someone who is living with HIV be an organ donor?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">In 2015, the HIV Organ Policy Equity (HOPE) Act was passed, allowing
                            for HIV-positive organ donors to donate to recipients living with HIV. The law also allows
                            for a person living with HIV to be a living donor to a transplant candidate living with HIV.
                            As of December 20, 2018, thanks to the HOPE Act and the generosity of HIV-positive deceased
                            donors, 100 lifesaving organ transplants have been performed for candidates living with HIV.
                            In 2019, the HOPE Act expanded to living donation.</div>
                    </div>
                </div>
            </div>
        </div>
</section>

{%if not has_taken_survey%}
<!-- Modal -->
<div class="modal fade shadow " id="surveyModal" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered p-0">
        <div class="modal-content">
            <div class="modal-body m-0 p-0 m-0">

                <div class="row p-0 gx-0">
                    <div class="col-md-6 col-ms-12  py-5 d-flex justify-content-center bg-primary bg-gradient">
                        <section class="align-self-center text-center p-3 text-white">

                            <p>Organ and tissue donation can save the lives of many people, and donors can donate while
                                alive or after death, depending on the organ or tissue. Organ donation increases the
                                life expectancy of those who are suffering from organ failure. Unfortunately, the number
                                of patients in need of organ transplants far outnumbers the number of organ donors
                                available.</p>
                            <p>Ghanaians who require transplantation are typically very sick or dying because of
                                multiple
                                organ failures. These people have a
                                genetic indication or sudden organ damage that will make people very sick and in need of
                                immediate transplantation.</p>
                            <p>Organ donation or transplantation can restore health, improve quality of
                                life, and offer significant cost benefits to the health system compared with alternative
                                treatment options.</p>
                            <p>Deceased organ donation is the process of giving an organ or a part of an organ, at the
                                time of the <strong>donor’s death</strong>, for transplantation to another person whose
                                organ has failed.
                            </p>
                        </section>
                    </div>

                    <div class="col-md-6 col-ms-12  py-5 d-flex justify-content-center">
                        <section class="align-self-center text-center p-3">
                            <p>This survey will take about 8 minutes to complete depending on the depth of the
                                information you provide. We would like to hear your thoughts on a few issues regarding
                                organ donation that may be sensitive to some people. There are no right or wrong
                                responses; what matters is what you think and feel personally. We appreciate your
                                participation and would be grateful if you provide as much information as possible.
                                Every and all information you provide in this study is considered confidential and
                                treated with the highest ethical standards.</p>

                            <a href="{%url 'donor:survey_knowledge'%}"
                                class="btn btn-primary align-self-center mx-auto py-4 px-5">Click here to start</a>
                        </section>



                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{%endif%}

<!--
{%if has_given_consent%}

 <div class="modal fade shadow " id="surveyModal"  data-bs-keyboard="false" tabindex="-1"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-xl modal-dialog-centered">
   <div class="modal-content p-0">
     <div class="modal-body m-0 p-0 m-0">       
            <div class="row" style="min-height: 500px;">
                <div class="d-none d-sm-block col-md-6 m-0 bg-primary " style="min-height: 100%; background-image: url('{%static 'img/question.png' %}'); background-position: center;  background-repeat: no-repeat; background-size: cover; ">           
                </div>            
                <div class="col-md-6 col-ms-12  m-0 py-5 d-flex justify-content-center" style="min-height: 100%;">
                    <section class="align-self-center text-center">
                        <div class="d-grid gap-2 col-12 mx-auto">
                        <p>Register to become an organ, eye and tissue donor</p>
                        <p>Registration is fast and secure.</p>
                        <a href="{% provider_login_url 'google' %}" class="btn btn-outline-primary p-3"> <i class="fab fa-google"></i> Register with your Google account</a>
                       
                    </div>
                    </section>
                </div>
            </div>
     </div>
   </div>
 </div>
</div>
{%endif%}
-->

{%endblock content %}