<nav class="navbar navbar-expand-lg bg-primary navbar-light text-white py-4 mb-0">
    <div class="container">
      <a href="/" class="navbar-brand text-white">
        ALTRU
      </a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse text-white" id="navmenu">
        <ul class="navbar-nav ms-auto text-white">
         
          <li class="nav-item">
            <a href="{%url 'donor:story_list' %}" class="nav-link text-white text-center">
              <i class="fas fa-hands d-block mx-auto mb-1 display-6"></i>
              Stories
            </a>
          </li>
        
          <li class="nav-item">
            <a href="{%url 'donor:champion_stats' %}" class="nav-link text-white text-center">
              <i class="fas fa-chart-bar d-block mx-auto mb-1 display-6"></i>
              Champions
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link text-white text-center">
              <i class="fas fa-chart-bar d-block mx-auto mb-1 display-6"></i>
              About donation
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>